<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="(sidenav.toggle)">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- <mat-nav-list> -->
    <ul class="list-group">
      <button class="list-group-item p-3" *ngFor="let item of sidenavItems" [routerLink]="item.route"
        (click)="sidenav.toggle()" routerLinkActive="active">
        {{ item.label }}
      </button>
    </ul>
    <!-- </mat-nav-list> -->
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>

    <span>Validador de fechas festivas</span>

    <span class="spacer"></span>
  </mat-toolbar>
  <div class="container p-2">









    <br />
    <div class="d-flex">
      <span class="spacer"></span>
      <p-floatLabel>
        <p-calendar #calendar [(ngModel)]="date" inputId="message" />

        <label for="message">Seleccione una fecha</label>
      </p-floatLabel>
      <p-button (onClick)="validarFestivoPorFecha()" label="Submit" />
      <span class="spacer"></span>
    </div>
    <br />

    <div *ngIf="mostrarDiv">
      <p>
        {{ esFestivo }}
      </p>
    </div>








  </div>
</mat-sidenav-container>